#list-container{
    height: 100px;
}

.fond {
  width: 260px;
  height: 100px;
  opacity: 0.5;
  background-color: #1c1c1b;
}

.forename {
  font-size: 22px;
  color: #ffffff;
}

.name{
  font-family: Arial;
  font-size: 16px;
  color: #ffffff;
}

.details{
  padding-top: 25px;
}