#list-container{
    height: 100px;
}

.fond {
  width: 280px;
  height: 100px;
  opacity: 0.5;
  background-color: #1c1c1b;
}

.Lannister {
  width: 118px;
  height: 45px;
  font-size: 22px;
  color: #ffffff;
}

.Lannister .text-style-1 {
  font-family: Arial;
  font-size: 16px;
}