#list-container{
    height: 100px;
}

.fond {
  width: 260px;
  height: 100px;
  background-color: rgba(28,28,27,0.5);
}

.forename {
  font-size: 22px;
  color: #ffffff;
}

.name{
  font-family: Arial;
  font-size: 16px;
  color: #ffffff;
}

.details{
  padding-top: 25px;
  padding-left: 1px;
}

.line {
  opacity: 0.2;
  border: solid 1px #ffffff;
}

#image{
  padding: 15px 0 0 10px;
      width: 75px;
  height: 75px;
}
#image > .circle > img{
    width: 70px;
  height: 70px;
}
.circle{
   width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
  }