<div id="blur-bg"></div>
<div id="main-picture-container">
  <div id="main-picture"></div>
</div>
<div id="container-right-details">
  <div id="title-container">
    <div id="title-text">
        {{companyName}}
    </div>

    <div id="number-people-text"> {{peopleNumber}} <span *ngIf="peopleNumber > 1 ; else elseBlock">collaborateurs</span>
      <ng-template #elseBlock><span>collaborateur</span></ng-template>
    </div>
  </div>
  <div (click)="backToMap()" id="back">
    <div id="back-text">Retour au plan</div>
  </div>
  <div id="people-container">
    <div *ngFor="let person of people">
      <app-person-details name={{person.name}} forename={{person.forename}} image={{person.picture}}></app-person-details>
    </div>
  </div>



</div>