<div id="blur-bg"></div>
<div id="container-right-details">
  <div id="title">
    <div>
      <h3>
        {{companyName}}
      </h3>
    </div>

    <div> {{peopleNumber}} <span *ngIf="peopleNumber > 1 ; else elseBlock">collaborateurs</span>
      <ng-template #elseBlock>collaborateur</ng-template>
    </div>
  </div>
  <div (click)="backToMap()" id="back">
    <div id="back_text">Retour au plan</div>
  </div>
  <div id="people-container">
    <div *ngFor="let person of people">
      <app-person-details name={{person.name}} forename={{person.forename}}></app-person-details>
    </div>
  </div>



</div>